@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$top-bar-font-color: #404040;
$top-bar-font-color-sbutton: #FFFFFF;
$top-bar-background-dropdown-color: rgba(119,140,122,0.33);
$top-bar-background-dropdown-color-hover: rgba(66,89,85,0.75);
$top-button-connect-background: #1e69c3;

#homepage {

	background-image: url(./img/background-home.jpg);
	background-repeat: no-repeat;
	background-size: 100% 155%;
	height: 500px;
	padding-top: 45px;
}

	.button.large {
		border-radius: 15px;
		background: rgba(0,0,0,0.6);
	}
.top-bar{
	background: transparent;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 90%, rgba(0,0,0,0.25) 100%); 

	}
	.top-bar .name h1 a{
		color: $top-button-connect-background;
		font-weight: bold;
	}

	a.button {
		border-radius: 9px;
	}
	.top-bar-section li:not(.has-form) a:not(.button) {
		background: $top-bar-background-dropdown-color;
	}
	.top-bar-section li:not(.has-form) a:hover:not(.button) {
		background: $top-bar-background-dropdown-color-hover;
	}
	.top-bar-section ul li:hover:not(.has-form) > a {
		background:  $top-bar-background-dropdown-color;
	}
	.top-bar-section ul {
		background: transparent; 
	}
	.top-bar-section .has-form {
		background: transparent;
	} 
	.top-bar-section ul li > a {
		/*color: $top-bar-font-color;*/
	}
	/* "se connecter" */
	.top-bar-section ul li > a.small.button {
		color: $top-bar-font-color-sbutton;
		background: $top-button-connect-background;
		font-family: lobster, serif;
 	}

	.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
		border-right: 1px solid rgba(0,0,0,0.2);
	}

dialog, .reveal-modal {
	background: url(./img/index.gif) repeat;
	border-radius: 9px;
}

fieldset legend {
	background: transparent;
}

.fixed .top-bar
{
	background: linear-gradient(to right, rgba(248,244,233,0.7) 0%, rgba(229,219,209,0.8) 100%)
	single-box-shadow();
}	

#homepage h1 {
	color: #1E69C3;
}

a.button {
	font-family: lobster;
}
footer {
	background-image: linear-gradient(to right, rgba(255,255,255,1) 82%, rgba(175,175,175,1) 100%); 
	height: 6.45rem;
	box-shadow: 0px -3px rgba(129,129,129,0.5);
}

.designer{
	font-family: lobster;
}

.inline-list > li {
	margin-left: 1rem;
}

div.large-12 > div > p {
		color: #143d6e;
}
.inline-list > li > a {
		color: #143d6e;
}
footer > div > hr {
	border-color: #143d6e;
	border-style: bold;
}